{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

        <div class="clearfix">
		    <h2 class="center-block">Bekräfta din information</h2>
		    <!--<img class="pull-right" src='{% static 'images/logo.png' %}' width="300px" /> -->
	    </div>
        <ul class="list-group">
            <li class="list-group-item">Namn: {{ name }}</li>
            <li class="list-group-item">E-postaddress: {{email}} </li>
            <li class="list-group-item">Biljettyp: {{register_choice}} </li>
            <li class="list-group-item">Prisklass:
             {% if student == "student" %}
              Studerande
             {% elif student == "phux" %}
              Phux
             {% else %}
              Inte Studerande
             {% endif %}
           </li>

            {% if nachspex %}
               <li class="list-group-item"> Specialdiet:
                 {% if diet != "" %}
                  {{diet}}
                  {% else %}
                  Ingen specialdiet
                  {% endif %}

                </li>
               <li class="list-group-item"> Alkoholfri:
                  {% if alcohol_free %}
                    Ja
                  {% else %}
                    Nej
                  {% endif %}
                </li>
                  <li class="list-group-item"> Avec:
                    {% if avec != "" %}
                      {{avec}}
                    {% else %}
                      Ingen avec
                    {% endif %}
                  </li>
            {% endif %}
            <li class="list-group-item">Kommentar: {{comment}} </li>

          <li class="list-group-item"> <strong>Pris: {{price}} €</strong>
            {% if  cheaper_price_available%}
            <div class="alert alert-warning">
              Rabattkoden du har angett ger rätt till ett pris som är dyrare än ditt normala pris och har därför inte använts.
            </div>
            {% endif %}
          {% if coupon_entered %}
            {% if coupon_valid %}
            <div class="alert alert-success">
            Med rabattkupongen <i>{{ coupon_code }}</i>. Kupongen har använts {{ coupon_used }}/{{ coupon_total_uses }} gånger.
            {% elif coupon_expired %}
          </div>
            <div class="alert alert-warning">
              Kupongen du angett har redan använts. Kontakta ambassaden vid oklara situationer.
            </div>            
            {% else %}
            <div class="alert alert-warning">
            Tyvärr berättigar inte din kupong <i>{{ coupon_code }}</i> till rabatt. Kontrollera att du fyllt i koden korrekt!
            </div>
            {% endif %}
          {% endif %}
          </li>
        </ul>
        <form action="/send/" method="post">
        {% csrf_token %}

        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="avec" value="{{ avec }}">
        <input type="hidden" name="spex" value="{{ spex }}">
        <input type="hidden" name="diet" value="{{ diet }}">
        <input type="hidden" name="student" value="{{ student }}">
        <input type="hidden" name="nachspex" value="{{ nachspex }}">
        <input type="hidden" name="coupon" value="{{ coupon_code }}">
        <input type="hidden" name="alcohol_free" value="{{ alcohol_free }}">
        <input type="hidden" name="comment" value="{{ comment }}">

        <button type="submit" class="btn btn-success btn-lg btn-block">Boka biljett</button>
    </form>
{% endblock content %}
