{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <form action="/send/" method="post">
        {% csrf_token %}
        <div class="clearfix">
		    <h2 class="pull-left">Bekräfta din information</h2>
		    <img class="pull-right" src='{% static 'images/logo.png' %}' width="300px" />
	    </div>
        <ul>
            <li><strong>Namn:</strong> {{ name }}</li>
            <li><strong>E-post:</strong> {{ email }}</li>
            <li><strong>Deltar i spexet:</strong> {{ spex_answer }}</li>
            <li><strong>Deltar i nachspexet:</strong> {{ nachspex_answer }}</li>
            <li><strong>Alkoholfri:</strong> {{ alcoholfree_answer }}</li>
            <li><strong>Avec:</strong> {{ avec }}</li>
            <li><strong>Allergier/specialdiet:</strong> {{ diet }}</li>
            <li><strong>Kommentarer:</strong> {{ comment }}</li>
            <li><strong>Priset:</strong> {{ sum }}&nbsp;€{{ discount_info }}</li>
        </ul>
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="spex_answer" value="{{ spex_answer }}">
        <input type="hidden" name="nachspex_answer" value="{{ nachspex_answer }}">
        <input type="hidden" name="alcoholfree_answer" value="{{ alcoholfree_answer }}">
        <input type="hidden" name="avec" value="{{ avec }}">
        <input type="hidden" name="diet" value="{{ diet }}">
        <input type="hidden" name="comment" value="{{ comment }}">
        <input type="hidden" name="dc" value="{{ dc }}">
        <input type="hidden" name="sum" value="{{ sum }}">
        <p><button type="submit" class="btn btn-primary">Skicka</button></p>
    </form>
{% endblock content %}