{% extends "base.html" %}
{% block content %}
	<div class="clearfix">
		<h2 class="text-center">Kårspexets Finlandsturné 2018</h2>
        <div class="logo center-block">
            <!--img src='static/images/logo.png' alt="Kårspexet" width="100%" /> -->
        </div>
	</div>

    <p>Välkommen på Kårspexet 17/18 <strong>"Vlad spetsaren - eller Blod Spett och Pålar"</strong> den 10:e februari klockan 15 i Gloria (Lilla Robertsgatan 12, Helsingfors).</p>

    <p>Efter föreställningen finns det möjlighet att fortsätta kvällen i gott sällskap och delta på Nachspex på Teknologföreningen (Otsvängen 22, Esbo).</p>

    <p>Priset för föreställningen är 10/15/25&nbsp;€ (phux/studerande/övriga) och för Nachspexet 15&nbsp;€ (13&nbsp;€ alkoholfri). För både föreställningen och Nachspexet är priset 25/30/40&nbsp;€ (phux/studerande/övriga) eller 22/27/37&nbsp;€ (alkoholfri).</p>
    <p>Ifall ni har en rabattkod, kan ni mata in den i fältet "Rabattkod". Efter att ni klickat på fortsätt beräknar bokningssystemet ert nya pris.</p>
    <p>Vi ses på spexet!</p>

    <a href="/register/" class="btn btn-lg btn-success btn-block">Köp biljetter!</a>

{% endblock content %}
