.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#form-background {
	background-color:rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 5px;
	position: top;
}
p {
  color: rgb(245,245,245);
}

form {
  color: rgb(245,245,245);
}

body {
	background-image: url('../images/bakgrund.png');
	background-size: 80%;
	background-position: top;
  background-repeat: no-repeat;
	font-family: 'TRAJANUS', 'Arial';
	font-size: 2em;
	font-style: bold;

}

h2 {
	font-size: 40px;
	margin-top: 5px;
  color: white;
}
@font-face {
    font-family: 'TRAJANUS';
    src: url('../fonts/TRAJANUS.ttf');
}
@font-face {
    font-family: 'ParkLaneNF';
    src: url('../fonts/ParkLaneNF.ttf');
}


@media (min-width: 1000px) {
    #form-background {
        width: 70%;
    }

    .logo {
        width: 300px;
    }
}

@media (max-width: 999px) {
    #form-background {
        width: 90%;
    }

    .logo {
        width: 200px;
    }
}

@media (max-width: 675px) {
    .logo {
        width: 100%;
    }
}

.footer-logo {
	margin-top: 50px;
  text-align: center;
}

.footer-logo img {
  margin-left: 30px;
  margin-right: 30px;
}
