.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#form-background {
	background-color:rgba(255,255,255,0.8);
	padding: 15px;
	border-radius: 5px;
	position: center;
}

body {
	background-image: url('../images/bakgrund.jpg');
	background-size: 100%;
	background-position: top;
	font-family: 'AgencyFb', 'Arial';
	font-size: 2em;
	font-style: bold;
}

h2 {
	font-size: 40px;
	margin-top: 5px;
}

@font-face {
    font-family: 'ParkLaneNF'; 
    src: url('../fonts/ParkLaneNF.ttf');
}
@font-face {
    font-family: 'AgencyFb'; 
    src: url('../fonts/AgencyFb.ttf');
}

@media (min-width: 1000px) {
    #form-background {
        width: 70%;
    }

    .logo {
        width: 300px;
    }
}

@media (max-width: 999px) {
    #form-background {
        width: 90%;
    }

    .logo {
        width: 200px;
    }
}

@media (max-width: 675px) {
    .logo {
        width: 100%;
    }
}
.footer-logo {
	margin-top: 50px;
}